<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         colors="true">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="All Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
